<!DOCTYPE html>
<head>
	<title></title>
</head>

<body>
	<h1>Welcome to the Online Payment App</h1>

	<p>
		Click the payment button below to get started:
	</p> 

	<%= button_to "Make A Payment", new_payment_path, method: "get" %> 

</body>

